<div class="footer">
   <div class="container">
      <div class="flex">
        <a href="#"> <div  class="logo">  </div> </a>

        <div  class="left"  style="margin-bottom: 60px">
          <ul>Информация
            <li> Главная</li>
            <li> Галерея </li>
            <li> Проекты</li>
            <li> Сертификаты</li>
            <li> Контакты</li>
          </ul>

        </div>
        <div>
          <div class="left">
            <p class="numbers"> Контакты</p>
            <div class="flex">
              <div class="place"> </div>
              <div class="country"> 100000, Республика  Казахстан,
                г. Караганда, ул. Телевизионная 10</div>
            </div>
          </div>


          <div>
            <div class="flex1">
              <div class="tel_form"> </div>
              <div class="tel">  +7 (701) 77 76 811 </div>
            </div>

          </div>


          <div class="flex2">
            <div class="email"> </div>
            <div class="e-email"> Galym.sultanov@mail.ru </div>
          </div>

        </div>

        <div class="left">
          <p class="numbers"> Социальные сети... </p>
          <a href="#"><img src="assets/images/Shape%20(7).png" alt=""></a>
          <a href="#"><img src="assets/images/Shape%20(8).png" alt="" style="margin-left: 41px;"></a>
          <a href="#"><img src="assets/images/Shape%20(10).png"  alt="" style="margin-left: 41px;"></a>
          <a href="#"><img src="assets/images/Shape%20(9).png" alt="" style="margin-left: 41px;"></a>
        </div>

   </div>
</div>

  <div class="line_end"> </div>
       <p class="digital"> © 2019 Digital Project. Все права защищены.</p>
</div>
