<app-header></app-header>


<div class="gallery">
   <div class="container">
      <h2 class="title">ГАЛЕРЕЯ </h2>
     <h2 class="title1">ФОТОГРАФИЙ</h2>
     <div class="flex">
       <div class="img1">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img2">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img3">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img4">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img5">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img6">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img7">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img8">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img9">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>
       <div class="img10">
         <p class="overlay">There’s loads to do and see for bibliophiles in London.</p>
       </div>

     </div>
     <div class="flex4">
       <div class="number1"></div>
       <div class="line"></div>
       <div class="number2"></div>
       <div class="icon1"> <img src="assets/images/ico-shape.png" alt="" style="margin-left: 18px; margin-top: 22px"></div>
       <div class="ic_2"> <img src="assets/images/ico-shape%20(1).png" alt="" style="margin-left: 18px; margin-top: 22px"> </div>

     </div>
   </div>
</div>
<app-footer> </app-footer>
