<div class="header">

  <div class="container">

    <div class="flex">
      <a href="#"> <div  class="logo"> </div> </a>
      <div class="menu">
        <ul>
          <li class="menu2" >         <a href=" http://localhost:4200/">          Главная</a> </li>
          <li class="menu1"> <a href="http://localhost:4200/gallery">  Галерея </a></li>
          <li class="menu1"> Проекты</li>
          <li class="menu1"> Сертификаты</li>
          <li class="menu1"> Контакты</li>
        </ul>

      </div>
    </div>

  </div>




</div>



