<div class="section_1">
  <div class="container">
    <div class="flex">
      <div style="text-align: left">
        <h1 class="title"> PROJECT </h1>
        <h1 class="title_1"> NURTOWN </h1>

        <div class="flex5">
          <div class="icon1"> </div>
          <div class="ic_2"> </div>
         </div>

       <div class="flex4">
         <div class="number1"></div>
         <div class="line"></div>
         <div class="number2"></div>

       </div>
      </div>
      <div class="title_img">
       <div class="white"> <p class="text_absolut">ВЗГЛЯНУТЬ -> </p> </div>
      </div>
    </div>

    <div class="flex1">

     <div>
       <div class="part1"> </div>
       <div class="part1_1"> </div>
     </div>

      <div class="part2"></div>
      <div>
      <h3 class="info">О компании </h3>
        <p class="text">Lorem Ipsum is simply dummy text of the printing
          and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of
          type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also
          the leap into electronic typesetting, remaining
          essentially unchanged.</p>
        <div class="read"> <p class="read_more"> читать -></p> </div>
      </div>

    </div>


   <h2 class="title2"> Основные задачи</h2>

   <div class="flex2_1">

     <div class="flex2">
       <div class="one">  </div>
       <div>
       <p class="one_text">Создание комфортных условий и
         повышение качества обслуживания
         клиентов</p>
       </div>


     </div>




     <div class="flex2">
       <div class="two"></div>
       <div>
         <p class="two_text">Постоянно совершенствовать
           качество предоставляемых услуг
           путем обучения персонала, закупки
           нового оборудования и усиленной
           рекламы на рынке</p>
       </div>

     </div>

   </div>
    <div>
     <h3 class="title3"> Наши проекты </h3>

      <div style="margin-top: 60px">
        <div class="flex">
          <div class="img1">
          <div class="gray">
          <h4 class="center"> ДОСУГОВЫЙ
            ЦЕНТР</h4>
            <p class="more"> ПОДРОБНЕЕ -></p>
          </div>
          </div>
          <div class="img2"> </div>
        </div>

      </div>



      <div style="margin-top: 30px;margin-bottom: 30px">

        <div class="flex">
          <div class="house1"> </div>
          <div class="house2"></div>
          <div class="house3"></div>
        </div>


      </div>
      <div class="button"> <p class="project"> ВСЕ ПРОЕКТЫ  </p>

      </div>

    </div>
  </div>
</div>
