@import "assets/font/stylesheet.css";
* {
  box-sizing: border-box;
}

body{
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1170px;
  margin: auto;
}





@media screen and  (max-width:1180px) {
  * {
    box-sizing: border-box;
  }
  .container{
    width: 900px;
    margin: auto;
  }
}


@media screen and  (max-width:900px) {
  * {
    box-sizing: border-box;
  }
  .container{
    width: 800px;
    margin: auto;
  }
}

@media screen and  (max-width:800px) {
  * {
    box-sizing: border-box;
  }
  .container{
    width: 650px;
    margin: auto;
  }
}


@media screen and  (max-width:661px) {
  * {
    box-sizing: border-box;
  }
  .container{
    width: 500px;
    margin: auto;
  }
}

@media screen and  (max-width:503px) {
  * {
    box-sizing: border-box;
  }
  .container{
    width: 300px;
    margin: auto;
  }
}


@media screen and  (max-width:320px) {
  * {
    box-sizing: border-box;
  }
  .container{
    width: 200px;
    margin: auto;
  }
}
