<div class="form">
  <div class="container">
    <h3 class="title"> Связаться с нами</h3>
    <div class="flex">
      <form>

        <div> <input type="text" placeholder="Имя" class="num"> </div>
        <div style="margin-top: 10px">   <input type="number" placeholder="Номер телефона*" class="num"> </div>
        <div style="margin-top: 10px">  <input type="email" placeholder="E-mail*" class="num"></div>
        <div style="margin-top: 10px">  <input type="text" placeholder="Интересующий товар/услуга" class="num"> </div>
        <div style="margin-top: 10px"><input type="text" placeholder="Сообщение*" class="num1"> </div>
        <p class="send"> Отправляя заявку Вы соглашаетесь
          с политикой
          конфиденциальности </p>
      </form>
      <div class="phone-image"> </div>
    </div>
    <button class="button"> <p class="button_text"> ОТПРАВИТЬ</p></button>
  </div>
</div>
