<div class="form">

  <form [formGroup]="form" (ngSubmit)=onSubmit()>   <div class="container">
    <h3 class="title"> Связаться с нами</h3>
    <div class="flex">
      <form>

        <div> <input type="text"   formControlName="name" name="name" id="name" placeholder="Имя" class="num"> </div>
        <div style="margin-top: 10px">   <input type="number" name="number" id="number" formControlName="number" placeholder="Номер телефона*" class="num"> </div>
        <div style="margin-top: 10px">  <input type="email"  formControlName="email" name="email" id="email" placeholder="E-mail*" class="num"></div>
        <div style="margin-top: 10px">  <input type="text" formControlName="text" name="text" id="text" placeholder="Интересующий товар/услуга" class="num"> </div>
        <div style="margin-top: 10px"> <input type="text"  formControlName="text1" name="text1" id="text1" placeholder="Сообщение*" class="num1"> </div>
        <p class="send"> Отправляя заявку Вы соглашаетесь
          с политикой
          конфиденциальности </p>
      </form>
      <div class="phone-image"> </div>
    </div>
    <button  type="submit" class="button" (click)="onSubmit()"><a href="" style="text-decoration: none">  <p class="button_text"> ОТПРАВИТЬ</p></a></button>
  </div> </form>

</div>
